@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

/* template modified from https://codepen.io/cycosta/pen/wvMeNoJ */

.gallery {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 16px;
    transition: 0.3s;
}
.gallery:hover .gallery__image {
    filter: grayscale(1);
}
.gallery__row {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: auto;
    width: 100%;
}
.gallery__link {
    margin: 2px;
    width: inherit;
    overflow: hidden;
}
.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
    opacity: 1;
}
.gallery__thumb {
    position: relative;
    margin: 2px;
    overflow: hidden;
    border-radius: 10px;
}
.gallery__image {
    display:flexbox;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transition: 0.3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}
.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}